body {
    background-color: #0c9bb9;
  }

  body header .navbar {
    background-color: #fafafa;
  }

  body header .logo-img {
    max-width: 10%;
    height: auto;
  }

  ol {
    list-style-type: none;
    background-color: #fafafa;
  }

aside{
  display: inline-block;
}

main {
  float: right;
  max-width: 85%;
  margin-bottom: 5%;
  margin-left: 10%;
  }

h1{
  color:#0c9bb9;
  }

h2{
  color: #fafafa;
  text-align: center;
  }

.card{
  float: left;
  margin-top: 1%;
  width: 23vw;
}
.card-title{
  text-align: center;
}

.card-footer{
  text-align: right;
  text-decoration: underline;
  }

.btnAgregar{
    float: left;
  }

.claro{
  color: #fafafa;
  /* border-color: #fafafa; */
}

.categorias{
  margin-left: 1%;
  margin-top: 1%;
  padding-left: 1%;
  padding-top: 1%;

}
.categorias span{
  float: inline-start;
}

.carrito{
  margin-top: 7%;
  text-align: center;
}



.hidden{
  display: none;
}

#btnCarrito{
  background-color: transparent;
  width: 35%;
  height: auto;
  float: right;
  margin-top: 15%;
}

#spanCarro{
  float: right;
}